<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".RestMobileApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppRestMobile"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        tools:targetApi="31">
        
        <!-- Splash Activity -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppRestMobile.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Initial Config Activity -->
        <activity
            android:name=".ui.config.InitialConfigActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />

        <!-- Sync Data Activity -->
        <activity
            android:name=".ui.sync.SyncDataActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <!-- Language Selection Activity -->
        <activity
            android:name=".ui.language.LanguageSelectionActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <!-- Table Config Activity -->
        <activity
            android:name=".ui.table.TableConfigActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />

        <!-- Main Activity (Products) -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

    </application>

</manifest>
